<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Planner</title>
</head>
<body>
    <header>
        <h1>Travel Planner</h1>
    </header>
<main>
    <h2>My trips</h2>
</main>
    <footer>
        <p>Travel Planner - Capstone project for the Udacity Frontend nanodegree.</p>
            <p><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></p>
    </footer>
</body>
</html>