<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Molle:400i&display=swap" rel="stylesheet">
    <title>Travel Planner</title>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <header>
          <h1>Travel Planner</h1>
          <div id="navBar">
            <ul id="navMenu">
              <li>
                <a href="./index.html" class="navLink" >My Trips</a>
              </li>
              <li>
                <a href="./newTrip.html" class="navLink" >Add a trip</a>
              </li>
            </ul>
          </div>
        </header>
      </div>
      <main>
      <div class="tripsList">
        <div id="tripDetailsContainer">
            <div>
                <figure>
                    <img src="" alt="prague" />
                    <figcaption>Prague, Czech Republic</figcaption>
                </figure>
            </div>
            <div class="tripInformation">
                <p id="countryData">Prague, Czech Republic</p>
                <p id="tripDates"><span class="infoLabel">Start date:</span> 2020-02-01   <span class="infoLabel">End Date:</span class="infoLabel"> 2020-02-10</p>
                <p id="duration"><span class="infoLabel">Duration: </span> 9 days</p>
                <p id="countdown">1 day until your trip</p>
                <p>Cloudy</p>
            </div>
        </div>
        </div>
      </div>
    </main>
      <div id="footer">
        <footer>
          <p>
            Travel Planner - Capstone project for the Udacity Frontend
            nanodegree.
          </p>
          <p>
            <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
