<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Molle:400i&display=swap"
      rel="stylesheet"
    />
    <title>Travel Planner</title>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <header>
          <h1>Travel Planner</h1>
          <div id="navBar">
            <ul id="navMenu">
              <li>
                <a
                  href="./index.html"
                  class="navLink"
                  onclick="Client.renderTripsList()"
                  >My Trips</a
                >
              </li>
              <li>
                <a
                  href="./newTrip.html"
                  class="navLink"
                  onclick="Client.renderNewTripForm()"
                  >Add a trip</a
                >
              </li>
            </ul>
          </div>
        </header>
      </div>
        <div  class="newTripContainer">
          <form>
            <div class="formControl">
              <label for="country">Country</label>
              <select
                id="country"
                onchange="Client.handleDropdownChange(event)"
              ></select>
              <label for="city">City</label>
              <select
                id="city"
                onchange="Client.handleDropdownChange(event)"
              ></select>
            </div>
            <div class="formControl">
              <label for="startDate">Start Date</label>
              <input type="date" id="startDate" onchange="Client.handleStartDateChange(event)"/>

              <label for="endDate">End Date</label>
              <input type="date" id="endDate"/>
            </div>
            <div class="formControl" id = "weatherData"></div>

            <div class="formControl">
              <button
                type="submit"
                onclick="Client.handleSubmit(event)"
              >
                Save
              </button>
              <button type="reset" onclick="Client.handleReset(event)">
                Reset
              </button>
            </div>
          </form>
        </div>
      <div id="footer">
        <footer>
          <p>
            Travel Planner - Capstone project for the Udacity Frontend
            nanodegree.
          </p>
          <p>
            <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
          </p>
        </footer>
      </div>
    </div>
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  </body>
</html>
