#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1.5fr 1fr;
  grid-template-areas:
    ". header header ."
    ". mainContent mainContent ."
    "footer footer footer footer";
}
