#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1.5fr 1fr;
  grid-template-areas:
    "header"
    "mainContent"
    "footer";
}

@media (min-width: 600px) {
  #content {
    display: grid;
    grid-template-rows: 100px 1.5fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "mainContent mainContent"
      "footer footer";
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  #content {
    display: grid;
    grid-template-rows: 100px 1.5fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header header"
      "mainContent mainContent ."
      "footer footer footer ";
  }
}

@media (min-width: 900px) {
  #content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1.5fr 1fr;
    grid-template-areas:
      ". header header ."
      ". mainContent mainContent ."
      "footer footer footer footer";
  }
}
