#navMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

#content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 1.5fr 1fr;
  grid-template-areas:
    ". header header ."
    ". mainContent mainContent ."
    "footer footer footer footer";
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family: "Molle", cursive;
  font-size: large;
  padding: 15px;
}

.navLink {
  margin: 15px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  font-size: 25px;
  color: #000;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
}

.navLink:hover {
  font-size: 30px;
}

.tripItem {
  display: flex;
  flex-direction: column;
  background-color: #cbfcfa;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

#header {
  grid-area: header;
}

.tripsList {
  display: flex;
  grid-area: mainContent;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer {
  text-align: center;
  font-weight: bold;
  grid-area: footer;
  font-size: 18px;
}

.newTripContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
  background-color: #e0e0ec;
  grid-area: mainContent;
  display: flex;
  flex-direction: column;
}

.newTripContainer fieldset {
  margin: 15px;
  padding: 15px;
  border: 1px black solid;
}

.newTripContainer legend {
  font-size: 15px;
  text-decoration: underline;
}

.newTripContainer label {
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

#tripDetailsContainer {
  background-color: #e0e0ec;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 15px;
}

.tripInformation {
  display: flex;
  flex-direction: column;
  grid-area: mainContent;
  justify-content: space-around;
  margin: 15px;
}

.tripInformation p {
  padding: 10px;
  font-size: 20px;
}

.tripInformation #countryData {
  font-weight: bold;
  font-size: 25px;
}

.tripInformation .infoLabel {
  font-style: italic;
  font-weight: bold;
}

.formControl {
  margin: 15px;
  font-size: 15px;
}

.formControl select {
  min-width: 100px;
  max-width: 200px;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

.formControl button {
  border: none;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  width: 100px;
  height: 50px;
}

.formControl p {
  padding: 25px;
  font-style: italic;
  font-size: 18px;
}

input[type="date"] {
  min-width: 100px;
  max-width: 150px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  outline: none;
}

input[type="date"]::-webkit-clear-button {
  font-size: 18px;
  height: 30px;
  position: relative;
}

input[type="date"]::-webkit-inner-spin-button {
  height: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 15px;
}
